<div class="wrapper">
    <div class="top_nav">
      <div class="left">
        <div class="logo"><p><span >D.K</span>Finances Limited</p></div>  <!-- -->
        
    </div> 
    <div class="right1">
      <ul>
        <li><a href="#">Email US<br></a><p>info@universalfinances@gmail.com</p></li>
        
        <li><a href="#">Call Us</a><p>+91 9870000010</p></li>
       
        
      </ul>
    
    </div>
    <div >
      <button class="btn" (click)="log()"  style="height: 40px; width: 80px; background-color:aqua; margin-right: 30px; " >Login</button>
    </div>
    </div>
     <div class="manual">
    <div class="nav " data-spy="affix" data-offset-top="197">
      <nav>
       
        <input type="checkbox" id="click">
       
        <ul>
          <li ><a  href="#">Home</a></li>
          <li><a href="#" routerLink="about">About us</a></li>
          <li><a href="#">What we Offer</a></li>
          <li><a href="#">process to apply</a></li>
          <li><a href="#">Loan EMI calculator</a></li>
          <li><a href="#">FAQs</a></li>
          <li class="active"><a href="#" routerLink="contact">Contact Us</a></li>
          <li><a href="#" (click)="back()">Back</a></li>
        </ul>
      </nav>
    </div>
    <div class="item active" id="educaion" style="background-color:cyan;height: 550px;">
                  
        <br><br><br>           
        <center>            
        <img src="assets\img\Location.jpg" alt="Los Angeles" style="width:30%; height: 300px;"><br><br>     
        <button type="button" class="icon-button"></button>
        



        &nbsp;&nbsp;<h2>1234567890</h2>
        <h2>Email:&nbsp;&nbsp;dkfinance@gmail.com</h2>
        <h2>Twitter:&nbsp;&nbsp;Dk10cjc@twt</h2>
        </center>  
      
      </div>
      
<p>contactus works!</p>
