<p>aboutus works!</p>
<div class="wrapper">
    <div class="top_nav">
      <div class="left">
        <div class="logo"><p><span >D.K</span>Finances Limited</p></div>  <!-- -->
        
    </div> 
    <div class="right1">
      <ul>
        <li><a href="#">Email US<br></a><p>info@universalfinances@gmail.com</p></li>
        
        <li><a href="#">Call Us</a><p>+91 9870000010</p></li>
       
        
      </ul>
    
    </div>
    <div >
      <button class="btn" (click)="log()" style="height: 40px; width: 80px; background-color:aqua; margin-right: 30px; " >Login</button>
    </div>
    </div>
     <div class="manual">
    <div class="nav " data-spy="affix" data-offset-top="197">
      <nav>
       
        <input type="checkbox" id="click">
       
        <ul>
          <li ><a  href="#">Home</a></li>
          <li class="active"><a href="#" routerLink="about">About us</a></li>
          <li><a href="#">What we Offer</a></li>
          <li><a href="#">process to apply</a></li>
          <li><a href="#">Loan EMI calculator</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#" routerLink="contact">Contact Us</a></li>
          <li><a href="#" (click)="back()">Back</a></li>
          
        </ul>
      </nav>
    </div>
    <div class="container-fluid" style="height:550px" id="images">
        <div class="container-fluid">
            <div class="carousel-inner" style="background-color: rgb(34, 33, 33);">
                <div class="item active" id="educaion" >
                <center>
                    <h1 style="color:rgb(117, 54, 31);font-family: 'Times New Roman', Times, serif;font: bolder;">About us</h1>
                    <p style="font-style: italic;font-family: 'Times New Roman', Times, serif;font-size: 18px;color:darkolivegreen">Home is an integral aspect of emotional fulfilment and shelter. It is imperative for individuals to have a place they can call their own. And Home Loan plays a major role in<br>
                        today's age when one steps into buying their home. Even though everyone has different options for a home loan, understanding the reason to choose the right one will<br>
                        comprehensively assist you in owning your dream home. Purchasing a home is one of the major investments people make and a lot needs to be taken into consideration.<br>
                        Because it's the assortment of features that will be assisting you finalise your decision. At Ethical Home Loan, we've always been committed to making your home-buying<br>
                        experience a seamless one and provide you with the best of services, such as<br>
                        <br><br>
                        Attractive Interest Rates<br>
                        
                        Doorstep Service<br>
                        
                        Convenient loan disbursement process<br>
                        
                        Simplified documentation<br>
                        
                        Insurance options to cover your home loan at attractive premium<br>
                        
                        Quicker turnaround time<br><br>
                        
                        The main purpose of a housing finance is to empower you to own your dream home. A home provides a long-term security and moreover a real estate property, usually,<br>
                        appreciates often than the other way around. A real estate is an investment that will give you good returns in the coming future. If you buy a house today, chances are within a<br>
                        few years, the market value of your property will substantially increase.<br><br><br><br></p>
                </center>

                </div>
            </div>
            <!-- <div>
                <center><h1 style="color:coral;font-family: 'Times New Roman', Times, serif;font: bolder;">Our Team</h1></center>
                <div class="item active" id="educaion">
                    <img src="assets\img\educationloan1.jpg" alt="Los Angeles" style="width:20%; height: 200px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="assets\img\educationloan1.jpg" alt="Los Angeles" style="width:20%; height: 200px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="assets\img\educationloan1.jpg" alt="Los Angeles" style="width:20%; height: 200px;"><br><br>
                    <img src="assets\img\educationloan1.jpg" alt="Los Angeles" style="width:20%; height: 200px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="assets\img\educationloan1.jpg" alt="Los Angeles" style="width:20%; height: 200px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="assets\img\educationloan1.jpg" alt="Los Angeles" style="width:20%; height: 200px;"><br>
              
                </div>
                <div class="item active" id="educaion">
                    
                
              
                </div>
            </div> -->

            <div class="bg-light py-5"> 
                <div class="container py-5"> 
                  <div class="row mb-4"> 
                    <div class="col-lg-5"> 
                      <h2 class="display-4 font-weight-light">Our team</h2> 
                      <p class="font-italic text-muted">"DKFINANCIAL Management is at the art of any Business. 
                        It is an area that can help Drive Forward. 
                      </p> 
                    </div> 
                  </div> 
               
              <div class="row text-center"> 
                <!-- Team item--> 
                <div class="col-xl-3 col-sm-6 mb-5"> 
                    </div>
            
                    <div class="col-xl-3 col-sm-6 mb-5"> 
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets\img\sandhy.jpg" alt="" width="100px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> 
                          <h5 class="mb-0">Sandhy</h5><span class="small text-uppercase text-muted">Founder</span> 
                          <ul class="social mb-0 list-inline mt-3"> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li> 
                          </ul> 
                        </div> 
                      </div>
                      <div class="col-xl-3 col-sm-6 mb-5"> 
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets\img\sandhy.jpg" alt="" width="100px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> 
                          <h5 class="mb-0">Sandhy</h5><span class="small text-uppercase text-muted">Founder</span> 
                          <ul class="social mb-0 list-inline mt-3"> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li> 
                          </ul> 
                        </div> 
                      </div>
                      <div class="col-xl-3 col-sm-6 mb-5"> 
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets\img\sandhy.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> 
                          <h5 class="mb-0">Sandhy</h5><span class="small text-uppercase text-muted">CEO</span> 
                          <ul class="social mb-0 list-inline mt-3"> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li> 
                            <li class="list-inline-item"><a href="https://mobile.twitter.com/sandhy_Godase" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li> 
                            <li class="list-inline-item"><a href="https://www.instagram.com/invites/contact/?i=rilyrwcxdu67&utm_content=28j6j1u" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li> 
                          </ul> 
                        </div> 
                      </div> 
                      <div class="col-xl-3 col-sm-6 mb-5"> 
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets\img\sandhy.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> 
                          <h5 class="mb-0">Sandhy</h5><span class="small text-uppercase text-muted">Manager</span> 
                          <ul class="social mb-0 list-inline mt-3"> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li> 
                          </ul> 
                        </div> 
                      </div>
                
                
                
                      <div class="col-xl-3 col-sm-6 mb-5"> 
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets\img\sandhy.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> 
                          <h5 class="mb-0">sandhy</h5><span class="small text-uppercase text-muted">Account Head</span> 
                          <ul class="social mb-0 list-inline mt-3"> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li> 
                          </ul> 
                        </div> 
                      </div> 
                      <!-- End--> 
                     
                      <!-- Team item--> 
                      <div class="col-xl-3 col-sm-6 mb-5"> 
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="assets\img\sandhy.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> 
                          <h5 class="mb-0">sandhy</h5><span class="small text-uppercase text-muted">End</span> 
                          <ul class="social mb-0 list-inline mt-3"> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li> 
                          </ul> 
                        </div> 
                      </div> 
                     
                      
                        
        </div>
    </div>